__pycache__/
.vscode/
testenv/
peft_mcl.egg-info/
output/

LLaVA/scripts/v1_5/eval/evalTextCapsPaliGemma.sh
LLaVA/scripts/v1_5/eval/evalTextCapsArray.sh
LLaVA/scripts/v1_5/eval/evalTextCaps_.sh
LLaVA/scripts/v1_5/eval/TextCapsFixedExp.sh
LLaVA/llava/eval/compute_metricshadoc.py
LLaVA/metrics_code/
LLaVA/.github
LLaVA/images/
LLaVA/adaptData2.ipynb
LLaVA/dk install java 11.0.25-tem
LLaVA/llava.egg-info
LLaVA/playground/data/textCapsTest_questions_short.jsonl
LLaVA/playground/data/textCapsTest_answers_short.jsonl
LLaVA/playground/data/mini_train.json
LLaVA/playground/data/mini_val.json
LLaVA/playground/data/textCapsVal_short.json

LLaVA/playground/data/coco2014_val_gpt4_qa_30x3.jsonl
LLaVA/playground/data/coco2014_val_qa_eval

LLaVA/playground/data/prompts
LLaVA/llava/train/train_dummy.py
LLaVA/llava/train/train_mem_debug.py
LLaVA/llava/serve
LLaVA/llava/eval/webpage
LLaVA/llava/eval/table
LLaVA/textcaps/
LLaVA/llava/eval/eval_gpt_review_bench.py
LLaVA/llava/eval/eval_gpt_review_visual.py
LLaVA/llava/eval/eval_gpt_review.py
LLaVA/llava/eval/eval_pope.py
LLaVA/llava/eval/eval_science_qa_gpt4_requery.py
LLaVA/llava/eval/eval_science_qa_gpt4.py
LLaVA/llava/eval/eval_science_qa.py
LLaVA/llava/eval/generate_webpage_data_from_table.py
LLaVA/llava/eval/model_vqa_science.py
LLaVA/llava/eval/qa_baseline_gpt35.py
LLaVA/llava/eval/summarize_gpt_review.py
LLaVA/ckpts/
LLaVA/checkpoints/
LLaVA/wandb/

Qwen2-Audio/ckpts/