adapter_model/
almaenv/
huggingface/
logs/
models--haoranxu--ALMA-7B-Pretrain/
alma-7b-parallel-ft-lora/
.zip
.tar
.gz
.zip
alma-7b-parallel-ft-lora_/
alma-7b-parallel-ft-lora_2h_relaxed/
alma-7b-parallel-ft-lora__/
logs_copy/
.vscode/
.locks/
run_pst/
# runs/
runs_fixed/
runs_fixed_without_tok/
figures/

ALMA/wmt22_outputs/ALMA-13B-LoRA/
ALMA/wmt22_outputs/ALMA-13-R/
ALMA/outputs/wmt22_outputs/GPT-4-1106-preview
ALMA/outputs/wmt22_outputs/gpt3.5-text-davinci-003
ALMA/outputs/wmt22_outputs/MADLAD-10B
ALMA/outputs/wmt22_outputs/WMT_Winners
ALMA/outputs/wmt23_outputs/ALMA-13B-R
ALMA/outputs/wmt23_outputs/MADLAD-10B
ALMA/outputs/wmt23_outputs/TowerInstruct-7B-v0.1
ALMA/outputs/wmt23_outputs/WMT_Winners